<div id="header"><h1>Create a New Poll</h1></div>

<div class="poll_item_a">
  <div id="item_a_image"><img src="" alt=""></div>
  <!-- Start poll form -->
  <%= form_for @poll do |item| %>

    <!-- Create URL field for image preview of Item A -->
    <%#= poll.fields_for @item_a do |item| %>
      <%= label_tag "Enter URL for Poll Item A" %>
      <%= text_field_tag :url_a,'', id: "item_a_url" %>
    <%# end %>
    
    <div class="paperclip_form"> or
      <!-- Paperclip form for Item A -->
      <%= fields_for @item_a, url: new_poll_path, remote: true, html: { multipart: true } do |item| %>
        <%= item.file_field :avatar %>
      <% end %>
    </div>
</div>

<div class="poll_item_b">
  <div id="item_b_image"><img src="" alt=""></div>
  
    <!-- Create URL field for image preview of Item B -->
    <%#= poll.fields_for @item_b do |item| %>
      <%= label_tag "Enter URL for Poll Item B" %>
	  <%= text_field_tag :url_b, '', id: "item_b_url" %>
	<%# end %>
   
    <div class="paperclip_form"> or 
      <!-- Paperclip form for Item B -->
      <%= fields_for @item_b, url: new_poll_path, remote: true, html: { multipart: true } do |item| %>
        <%= item.file_field :avatar %>
      <% end %>
    </div>
</div>

<div class="poll_description">

	  <!-- This field should fill in the description for this Poll ID -->
	  <%= label_tag "Description" %>
	  <%= text_field_tag :description %>
	  <br>
	  <!-- This button should create this Poll ID -->
	<%= submit_tag "Create Poll" %>

  <% end %>
</div>