<div id="poll-item-a" class="poll-item">
  
  <div id="vote-count-a" class="vote-count <%= "show-vote-count" if !@can_vote %>">
    <%= @votes_a.length %>
  </div>

  <div id="item-a-image-container" class="item-image-container">
  <% if @can_vote %>
    <%= link_to poll_votes_path(vote: true, poll_id: @poll.id), method: :post, class: 'vote-link' do %> 
      <%= image_tag @poll.poll_items.first.avatar_a.url , id: "item-a-image", class: "poll-item-image tall-image" %>
    <% end %>
  <% else %>
    <%= image_tag @poll.poll_items.first.avatar_a.url, id: "item-a-image", class: "poll-item-image tall-image drop-opacity" %>
  <% end %>
  </div>
</div>

<div class="poll-middle" id="poll<%= @poll.id %>">

  <button class="submit-btn btn-vote" disabled>Vote</button>

</div>

<div id="poll-item-b" class="poll-item">

  <div id="vote-count-b" class="vote-count <%= "show-vote-count" if !@can_vote %>">
    <%= @votes_b.length %>
  </div>

  <div id="item-b-image-container" class="item-image-container">
    <% if @can_vote %>
      <%= link_to poll_votes_path(vote: false, poll_id: @poll.id), method: :post, class: 'vote-link' do %> 
      <%= image_tag @poll.poll_items.last.avatar_b.url, id: "item-b-image", class: "poll-item-image wide-image" %>
      <% end %>
    <% else %>
      <%= image_tag @poll.poll_items.first.avatar_a.url, id: "item-b-image", class: "poll-item-image wide-image drop-opacity" %>
    <% end %>
  </div>
</div>

<div id="sharing-container">
      <div class="whatsapp-c nds">
        <a href="whatsapp://send?text=<%= share_text %>" data-action="share/whatsapp/share" class="whatsapp"><i class="fa fa-whatsapp fa-2x"></i></a>
      </div>

      <div class="facebook-c nds" >
        <a href="https://www.facebook.com/sharer/sharer.php?u=<%= share_text %>" class="facebook"><i class="fa fa-facebook fa-2x"></i></a>
      </div>

      <div class="twitter-c nds">
        <a href="https://twitter.com/home?status=<%= share_text %>" class="twitter"><i class="fa fa-twitter fa-2x"></i></a>
      </div>

      <div id="share-button">
        <a href="#" class="share"><i class="fa fa-share-alt fa-2x"></i></a>
      </div>
</div>

<!-- ENLARGE IMAGE POPUP MODALS -->
<!-- Link for Modal A-->
<%= image_tag @poll.poll_items.first.avatar_a.url, id: "enlarge-image-A" %>
<!-- Modal A-->
<div id="modalA" class="modal">
  <!-- The Close Button -->
  <span class="close" onclick="document.getElementById('modalA').style.display='none'">&times;</span>
  <img class="modal-content" id="imageA">
</div>

<!-- Link for Modal B-->
<%= image_tag @poll.poll_items.last.avatar_b.url, id: "enlarge-image-B" %>

<!-- Modal B-->
<div id="modalB" class="modal">
  <!-- The Close Button -->
  <span class="close" onclick="document.getElementById('modalB').style.display='none'">&times;</span>
  <img class="modal-content" id="imageB">
</div>

<% if !@can_vote %>
  <%= javascript_tag do %>
  publishNub();
  <% end %>
<% end %>
