
<% @og_image = image_path('og-image.png') %>

<div id="poll-item-a" class="poll-item">

  <div id="vote-count-a" class="vote-count <%= "show-vote-count" if !@can_vote %>">
    <%= @votes_a.length %>
  </div>

  <div id="item-a-image-container" class="item-image-container">
  <% if @can_vote %>
    <%= link_to poll_votes_path(vote: true, poll_id: @poll.id), method: :post, class: 'vote-link' do %> 
      <%= image_tag @poll.poll_items.first.avatar_a.url, id: "item-a-image", class: "poll-item-image" %>
    <% end %>
  <% else %>
    <%= image_tag @poll.poll_items.first.avatar_a.url, id: "item-a-image", class: "poll-item-image drop-opacity" %>
  <% end %>
  </div>
</div>


<div class="poll-middle" id="poll<%= @poll.id %>">

  <button class="btn-vote"><p class="vote-text">Vote</p></button>

</div>


<div id="poll-item-b" class="poll-item">

  <div id="vote-count-b" class="vote-count <%= "show-vote-count" if !@can_vote %>">
    <%= @votes_b.length %>
  </div>

  <div id="item-b-image-container" class="item-image-container">
    <% if @can_vote %>
      <%= link_to poll_votes_path(vote: false, poll_id: @poll.id), method: :post, class: 'vote-link' do %> 
      <%= image_tag @poll.poll_items.last.avatar_b.url, id: "item-b-image", class: "poll-item-image" %>
      <% end %>
    <% else %>
      <%= image_tag @poll.poll_items.last.avatar_b.url, id: "item-b-image", class: "poll-item-image drop-opacity" %>
    <% end %>
  </div>
</div>


<div id="sharing-container">

      <div class="whatsapp-c nds">
        <a href="whatsapp://send?text=<%= share_text %>" data-action="share/whatsapp/share" class="whatsapp"><i class="fa fa-whatsapp fa-2x"></i></a>
      </div>

      <div class="facebook-c nds" >
        <a href="https://www.facebook.com/sharer/sharer.php?u=<%= share_text %>" class="facebook"><i class="fa fa-facebook fa-2x"></i></a>
      </div>

      <div class="twitter-c nds">
        <a href="https://twitter.com/home?status=<%= share_text %>" class="twitter"><i class="fa fa-twitter fa-2x"></i></a>
      </div>

      <div id="share-button">
        <a href="#" class="share"><i class="fa fa-share-alt fa-2x"></i></a>
      </div>

</div>

<div id="expand-button-a" class="expand-button">
  <a class="magnify"><i class="fa fa-search-plus"></i></a>
  <div class="expanded-image-container">
   <%= image_tag @poll.poll_items.first.avatar_a.url, id: "expanded-image-a", class: "expanded-image" %>
   </div>
  <a class="minify"><i class="fa fa-search-minus fa-2x"></i></a>
</div>


<div id="expand-button-b" class="expand-button">
  <a class="magnify"><i class="fa fa-search-plus"></i></a>
  <div class="expanded-image-container">
   <%= image_tag @poll.poll_items.last.avatar_b.url, id: "expanded-image-b", class: "expanded-image" %>
   </div>
  <a class="minify"><i class="fa fa-search-minus fa-2x"></i></a>
</div>

<% if !@can_vote %>
  <%= javascript_tag do %>
  publishNub();
  <% end %>
<% end %>
