<!DOCTYPE html>
<html>
  <head>
    <title>This or That</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <!-- You can use Facebook Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:url"           content="" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="title" />
    <meta property="og:description"   content="description" />
    <meta property="og:image"         content="thumbnail_image" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
	  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <div class="menu-container">
      <a class="btn-menu"><i class="fa fa-navicon"></i></a>
      <h3 class="menu-title"><%= link_to "this or that", root_path %></h3>
      <ul class="menu-inner">
        <li><i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp;Log In</li>
        <li><i class="fa fa-plus fa-fw" aria-hidden="true"></i>&nbsp;<%= link_to "New Poll", root_path %></li>
        <li><i class="fa fa-share-alt fa-fw" aria-hidden="true"></i>&nbsp;Share It</li>
        <li>
          <div id="omniauth-login">
            <% if current_user %>
              <%# user is logged in %>
              Welcome <%= current_user.name %>!<br>
              <%= image_tag current_user.picture %>
              <%= link_to 'Sign Out', logout_path %>
            <% else %>
              <%# user is logged out %>
              You are not logged in.<br>
              <li><%= link_to "Sign in with Twitter", twitter_login_path %></li>
              <li><%= link_to "Sign in with Facebook", facebook_login_path %></li>
            <% end %>
          </div> 
        </li> 

<div id="status">
</div>
      </ul>
    </div>

    <div id="container" class="container">
      <%= yield %>
    </div>

    <!-- Facebook sharing link code -->
    <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

  </body>
</html>
